html, body, #__next{
    min-height: 100vh;
}

main{
    padding-bottom: 60px;   /* for footer */
}

.container{
    min-height: 100vh;
    position: relative;
}

.cursor-default{
    cursor: default;
}

.cursor-pointer{
    cursor: pointer;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}